{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


<div class="">
  <p>{{ professor }}</p>
  <p>{{ professor.dob }}</p>
  <p>{{ professor.city }}</p>
  <p>{{ professor.bio }}</p>
  <p>{{ professor.edulevel }}</p>
  <p>{{ professor.yearsexperience }}</p>
  <p>{{ professor.picture }}</p>

  <p>====</p>

  {% for course in professor.course_set.all %}
    <p>{{ course.title }}</p>
    <p>{{ course.area.all }}</p>
    <p>{{ course.descrip }}</p>
    <p>{{ course.level }}</p>
    <p>{{ course.extrainfo }}</p>
    <p>{{ course.language.all }}</p>
    <p>{{ course.duration }}</p>
    <p>{{ course.age.all }}</p>
    <p>{{ course.courselocation_set.all }}</p>
    <p>----</p>
  {% endfor %}
</div>

{% block main %}
  <section class="ftco-section ftco-candidates ftco-candidates-2 bg-light pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 pr-lg-4">
          <div class="row">
            {% if professor %}
              <div class="col-md-12">
                <h3 class="h3 mb-5">Professor</h3>
              </div>
              <div class="col-md-12">
                <div class="team p-4 bg-white">
                  <div class="d-md-flex">
                    <div class="img" style="background-image: url(
                        {% if course.professor.picture %}
                          {{ course.professor.picture.url }}
                        {% endif %}
                        );"></div>
                    <div class="text px-md-4">
                      <h2>{{ professor }}</h2>
                      <p>
                        City: {{ professor.city }}<br>
                        Data of birth: {{ professor.dob }} <br>
                        {{ professor.yearsexperience }} years of experience
                      </p>
                    </div>
                  </div>
                  <div class="pl-md-4">
                    <h2>About me</h2>
                    <p class="mb-2">{{ professor.bio|linebreaksbr }}</p>
                    <h2>Education</h2>
                    <p class="mb-2">{{ professor.edulevel|linebreaksbr }}</p>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="col-md-12">
                <div class="team d-md-flex p-4 bg-white">
                  <div class="text pl-md-4">
                    <h2>No professor found.</h2>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if page_obj %}
              <div class="col-md-12">
                <h3 class="h3 mb-5 mt-3">Courses</h3>
              </div>
            {% endif %}
            {% for course in page_obj %}
              <div class="col-md-12">
                <div class="team d-md-fle p-4 bg-white">
                  <div class="px-md-4">
                    {% for location in  course.courselocation_set.all %}
                      <span class="location mb-0">{{ location }} </span>
                    {% endfor %}
                    <h2>{{ course.title }}</h2>
                    {% for area in  course.area.all %}
                      <span class="position">{{ area }} </span>
                    {% endfor %}
                    <p class="mb-2">{{ course.descrip }}</p>
                    <table class="table table-bordered mt-4">
                      <tbody>
                      <tr>
                        <th scope="row">Age</th>
                        <td>
                          {% for age in  course.age.all %}
                            {{ age }}<br>
                          {% endfor %}
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Student level</th>
                        <td>
                          {{ course.level }}
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Duration</th>
                        <td>{{ course.duration }}</td>
                      </tr>
                      <tr>
                        <th scope="row">The class is taught in</th>
                        <td>
                          {% for language in  course.language.all %}
                            {{ language }}
                          {% endfor %}
                        </td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {% if is_paginated %}
            <div class="row mt-5">
              <div class="col text-center">
                <div class="block-27">
                  {% include "components/pagination.html" %}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="col-lg-4 sidebar">
          <h3 class="h3 mb-5">Reviews</h3>
          <div class="sidebar-box bg-white p-4 ftco-animate fadeInUp ftco-animated">
            <h3 class="heading-sidebar">Add review</h3>
            <form action="{% url 'profiles:review_create' professor.user_id %}" class="contact-form signup" method="post">
              {% csrf_token %}
              {{ review_form|crispy }}
              <div class="form-group">
                <input type="submit" value="Review" class="btn btn-primary">
              </div>
            </form>
          </div>
          {% for review in reviews %}
            <div class="sidebar-box bg-white p-4 ftco-animate fadeInUp ftco-animated">
              <h3 class="heading-sidebar mb-0">{{ review.author }}</h3>
              <input class="score-display" value={{ review.score }}>
              <p>{{ review.text }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock main %}

{% block project_js %}
    <script src={% static "js/professor_detail.js" %}></script>
{% endblock project_js %}
