{% extends "base.html" %}
{% load i18n %}

{% block content_title %}
  <h2 class="h3">{% trans "List enrollments" %}</h2>
{% endblock content_title %}

{% block content %}
  <ul class="list-group">
    {% for handout in object_list %}
      <li class="list-group-item">
        {{ handout }}
        <button type="button" class="btn btn-outline-danger btn-sm float-right">Decline</button>
        <button type="button" class="btn btn-outline-success btn-sm float-right mr-2">Accept</button>
      </li>
    {% empty %}
      <li class="list-group-item">{% trans "No courses yet." %}</li>
    {% endfor %}
  </ul>
{% endblock content %}
