{% extends "base.html" %}
{% load i18n %}

{% block content_title %}
  <h2 class="h3">{% trans "Courses" %}</h2>
  <a class="btn btn-outline-secondary btn-sm" href="{% url 'courses:create' %}">{% trans "Create course" %}</a>

{% endblock content_title %}

{% block content %}
  <ul class="list-group">
    {% for course in object_list %}
      <li class="list-group-item">
        <a href="{% url 'courses:detail' course.slug %}">{{ course }}</a>
        <a class="btn btn-outline-secondary btn-sm float-right" href="{% url 'courses:delete' course.slug %}"
           role="button">{% trans "Delete" %}</a>
        <a class="btn btn-outline-secondary btn-sm float-right mr-2" href="{% url 'courses:edit' course.slug %}"
           role="button">{% trans "Edit" %}</a>
        <a class="btn btn-outline-secondary btn-sm float-right mr-2"
           href="{% url 'courses:list_handouts' course.slug %}" role="button">{% trans "Handouts" %}</a>
      </li>
    {% empty %}
      <li class="list-group-item">{% trans "No courses yet." %}</li>
    {% endfor %}
  </ul>
{% endblock content %}