{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content_title %}
  <h2 class="h2 mb-0">Handouts: {{ course }}</h2>
  {% if user.professor %}
    <a class="btn  btn-primary" href="{% url 'courses:handout_create' course.pk %}" role="button">
      {% trans "Create handout" %}
    </a>
  {% endif %}
{% endblock content_title %}

{% block content %}
  {% regroup object_list by section as sections %}
  {% for section in sections %}
    <h4 class="h4 mt-3">{{ section.grouper }}</h4>
    <ul class="list-group">
      {% for handout in section.list %}
        <li class="list-group-item">
          <a href="{% url 'courses:handout_update' handout.pk %}"></a>
          <span><b>{{ handout.name }}</b> - {{ handout.description }}</span>
          {% if user.professor %}
            <a class="btn btn-outline-danger btn-sm float-right mr-2"
               href="{% url 'courses:handout_delete' handout.pk %}"
               role="button">{% trans "Delete" %}</a>
            <a class="btn btn-outline-info btn-sm float-right mr-2" href="{% url 'courses:handout_update' handout.pk %}"
               role="button">{% trans "Edit" %}</a>
          {% endif %}
          <a class="btn btn-outline-info btn-sm float-right mr-2" href="{{handout.attachment.url}}"
             role="button" download>{% trans "Download" %}</a>
        </li>
      {% endfor %}
    </ul>
  {% empty %}
    <ul class="list-group">
      <li class="list-group-item">{% trans "No handouts yet." %}</li>
    </ul>
  {% endfor %}
{% endblock content %}