{% extends "base.html" %}
{% load i18n %}

{% block content_title %}
  <h2 class="h3">{% trans "List courses" %}</h2>
{% endblock content_title %}

{% block content %}
  <ul class="list-group">
    {% for course in object_list %}
      <li class="list-group-item">
        <a href="{% url 'courses:detail' course.slug %}">{{ course }}</a>
        <a class="btn btn-primary btn-sm float-right" href="{% url 'courses:edit' course.slug %}" role="button">Edit</a>
      </li>
    {% empty %}
      <li class="list-group-item">{% trans "No courses yet." %}</li>
    {% endfor %}
  </ul>
{% endblock content %}