{% extends "base.html" %}
{% load i18n %}

{% block content_title %}
  <h2 class="h3">{% blocktrans %}List courses{% endblocktrans %}</h2>
{% endblock content_title %}

{% block content %}
  <ul class="list-group">
    {% for course in object_list %}
      <li class="list-group-item"><a href="{% url 'courses:update' course.id %}">{{ course }}</a></li>
    {% empty %}
      <li class="list-group-item">{% blocktrans %}No courses yet.{% endblocktrans %}</li>
    {% endfor %}
  </ul>
{% endblock content %}