{% extends "base.html" %}
{% load i18n %}

{% block content_title %}
  <h2 class="h3">{% trans "List courses" %}</h2>
{% endblock content_title %}

{% block content %}
  <ul class="list-group">
    {% for course in object_list %}
      <li class="list-group-item">
          <a href="{% url 'courses:detail' course.slug %}" >{{ course }}</a>
          
          <a class="btn btn-primary btn-sm float-right button_list" style="margin-right: 20px" href="{% url 'enrollments:list_handouts' course.slug %}" role="button">
              <span>{% trans "Show handouts" %}</span></a>
        <a class="btn btn-outline-danger btn-sm float-right ml-2" href="{% url 'courses:delete' course.slug %}"
           role="button">{% trans "Delete" %}</a>
           
        <a class="btn btn-outline-primary btn-sm float-right" href="{% url 'courses:edit' course.slug %}"
           role="button">{% trans "Edit" %}</a>
           
           
        
      </li>
    {% empty %}
      <li class="list-group-item">{% trans "No courses yet." %}</li>
    {% endfor %}
  </ul>
{% endblock content %}