.hero-wrap {
  height: 100px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background: #f8f9fa
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; /* Set the fixed height of the footer here */
  line-height: 70px; /* Vertically center the text there */
  background: rgb(255,255,255);
}
/* bootstrap-seclect styles
-------------------------------------------------- */
.bootstrap-select .btn-light {
  border-color: #ced4da;
}