<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OpenCourse</title>
</head>
<body>
  <div class="header" style="padding: 50px 50px 10px;">
    {% if user.is_authenticated %}
      <a href="{% url 'users:professor_update' %}">Profile</a>
      <a href="{% url 'users:logout' %}">Logout</a>
      <br>
      <a href="{% url 'courses:search' %}">Search course</a>
      <a href="{% url 'courses:create' %}">Create course</a>
      <a href="{% url 'courses:list' %}">List courses</a>

    {% else %}
      <a href="{% url 'users:login' %}">Login</a>
      <a href="{% url 'users:signup' %}">Signup</a>
    {% endif %}

    <p>User is logged in: {{ user.username|default:"Anonymous"}} </p>
  </div>
  <div class="container" style="padding: 10px 50px;">
    {% block content %}
      Base
    {% endblock content %}
  </div>
</body>
</html>