{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OpenCourse</title>

  {% block css %}
    <!-- Latest compiled and minified Semantic UI -->
    <link rel="stylesheet" type="text/css" href={% static "semantic/semantic.min.css" %}>
    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
  {% endblock %}

</head>
<body>

  <div class="ui menu">
    <div class="ui text container">
      <a href="{% url 'courses:search' %}" class="header item">OpenCourse</a>
      {% if user.is_authenticated %}
        <a class="item" href="{% url 'courses:create' %}">Create course</a>
        <a class="item" href="{% url 'courses:list' %}">List courses</a>
      {% endif %}
      <div class="right menu">
        {% if user.is_authenticated %}
          <a class="item" href="{% url 'users:professor_update' %}">Profile</a>
          <a class="item" href="{% url 'users:logout' %}">Logout</a>
        {% else %}
          <a class="item" href="{% url 'users:login' %}">Login</a>
          <a class="item" href="{% url 'users:signup' %}">Signup</a>
        {% endif %}
      </div>
    </div>
  </div>

  <main>
    <div class="ui text container">
    {% block content %}
      Base
    {% endblock content %}
    </div>
  </main>

  <footer>
    <div class="ui container"><p>© 2020 All rights reserved</p></div>
  </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Semantic and its dependencies-->
      <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
      <script src={% static "semantic/semantic.min.js" %}></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
    {% endblock javascript %}

</body>
</html>