{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content_title %}
  <h2 class="h3">Profile</h2>
{% endblock content_title %}

{% block content %}
  <form action="" class="bg-white p-5 contact-form" method="post">
    {% csrf_token %}
    {{ professor_formset.management_form }}
    {{ form|crispy }}
    {% for profile_form in professor_formset %}
      {{ profile_form|crispy }}
    {% endfor %}
    <div class="form-group">
      <input type="submit" value="Update" class="btn btn-primary py-3 px-5">
    </div>
  </form>
{% endblock content %}